/* * {
    border: 1px solid red;
} */


.logo {
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: #e4ded1;
}

.header {
    text-shadow: #151b24 4px 4px 2px;
    color: #e4ded1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    background-color: #24304A;

}

.header div{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.right {
    display: flex;
    gap: 10px;
}

.section1 {
    position: relative;
    text-align: center;
    color: white;
}

.kayn {
    display: flex;
    flex: 1;
}

.center-text {
    box-shadow: #151b24 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(2px);
    color: #e4ded1;
    font-size: 32px;
    font-weight: 600;
    text-shadow: #2D446E 10px 0 15px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    margin-top: 10px;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 20px;
    color: #151b24;
    background-color: #e4ded1;
}

.play-button:hover {
    color: #e4ded1;
    background-color: #151b24;
}

.section2 {
    background-color: #24304A;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;

}

.cards {
    color: #e4ded1;
    text-shadow: #151b24 4px 4px 2px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    flex-basis: 200px;
    justify-content: center;
    text-align: center;
}

.cards img {
    margin: 10px;
    box-shadow: #151b24 8px 8px 4px;
}

.section3 {
    background: url(./img/torigate.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;

    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;
}


.story {
    box-shadow: #151b24 5px 5px 10px;
    margin: 0px 30px;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(2px);
    color: #e4ded1;
    font-size: 32px;
    font-weight: 600;
    text-shadow: #2D446E 10px 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700px;
    justify-content: end;
}

.section4 {
    background-color: #24304A;
    display: flex;
   
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: flex-start;

}

.contact {
    margin: 0px 30px;
    display: flex;
    box-shadow: #151b24 5px 5px 4px;
    align-items: center;
    flex: 0 1 800px;
    border-radius: 20px;
    background-color: #181f30;
    padding: 20px;
    width: 800px;
    height: 230px;
}

.contact div {
    color: #e4ded1;
    font-size: 20px;
    text-shadow: #2D446E 10px 0 15px;
}

.contact button {

    border-radius: 20px;
    font-size: 15px;
    padding: 8px 15px;
    color: #151b24;
    background-color: #e4ded1;
}

.contact button:hover {
    color: #e4ded1;
    background-color: #151b24;
}

.footer {
    color: #e4ded1;
    background-color: #181f30;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
    text-shadow: #151b24 4px 4px 2px;
    box-shadow: #151b24 -0px -5px 10px;
}

.footer a:hover {
    color: #E3B261;
}