/* * {
    border: 1px solid red;
} */


.logo {
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: #e4ded1;
}

.header {
    text-shadow: #151b24 4px 4px 2px;
    color: #e4ded1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    background-color: #24304A;

}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.right {
    display: flex;
    gap: 10px;
}

.section1 {
    position: relative;
    text-align: center;
    color: white;
}

.kayn {
    display: flex;
    flex: 1;
}

.center-text {
    box-shadow: #151b24 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(2px);
    color: #e4ded1;
    font-size: 32px;
    font-weight: 600;
    text-shadow: #2D446E 10px 0 15px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:  0.2s;
}

.play-button {

    border-radius: 20px;
    font-size: 20px;
    padding: 8px 20px;
    color: #151b24;
    background-color: #e4ded1;
}



.section2 {
    background-color: #24304A;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;

}

.cards {
    color: #e4ded1;
    text-shadow: #151b24 4px 4px 2px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    flex-basis: 200px;
    justify-content: center;
    text-align: center;
}


.cards img {
    display: flex;
    flex: 0 1;
    margin: 10px;
    box-shadow: #151b24 8px 8px 4px;
    width: 150px;
    height: 150px;
    transition: 0.3s;
}

.cards img:hover {
    scale: 103%;
    box-shadow: #151b24 10px 10px 6px;
}

.cards img:active {
    scale: 98%;
    box-shadow: #151b24 6px 6px 3px;
}

.cards div {
    margin-top: 5px;
}

.section3 {
    background: url(./img/00018.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;

    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;
}


.story {
    box-shadow: #151b24 5px 5px 10px;
    margin: 0px 30px;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(2px);
    color: #e4ded1;
    font-size: 32px;
    font-weight: 600;
    text-shadow: #2D446E 10px 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700px;
    justify-content: end;
    transition: .5s;
}

.section4 {
    background-color: #24304A;
    display: flex;

    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: flex-start;

}

.contact {
    margin: 0px 30px;
    display: flex;
    box-shadow: #151b24 5px 5px 4px;
    align-items: center;
    flex: 0 1 100%;
    border-radius: 20px;
    background-color: #181f30;
    padding: 20px;
    width: 800px;
    height: 230px;
}

.contact div {
    color: #e4ded1;
    font-size: 20px;
    text-shadow: #2D446E 10px 0 15px;
}

.contact button {

    border-radius: 20px;
    font-size: 15px;
    padding: 8px 15px;
    color: #151b24;
    background-color: #e4ded1;
}

.footer {
    color: #e4ded1;
    background-color: #181f30;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
    text-shadow: #151b24 4px 4px 2px;
    box-shadow: #151b24 -0px -5px 10px;
}

.footer a:hover {
    color: #E3B261;
}

button {

    transition: color 0.3s;
    transition: background-color 0.4s;
}

button:hover {
    color: #e4ded1;
    background-color: #151b24;
}

button:active {
    transform: scale(97%);
}


@media screen and (max-width: 600px) {
.header{
    padding: 5px 15px 5px 10px;
}
    .play-button {
        margin-top: 30px;
        padding: 8px;
        font-size: 12px;
        width: 100%;
    }

    .center-text {
        padding: 20px 20px 0;
        flex: 0 1 0;
        width: 100px;
        height: 150px;
        font-size: 20px;
        top: 50%;
        left: 82%;
    }

    .section2 {
        padding: 15px;
    }

    .cards {
        width: 100px;
        height: 100%;
        font-size: 12px;
    }

    .cards img {
        width: 50px;
        height: 50px;
    }

    .story{
        font-size: 20px;
    }

    .contact{
        height: 100%;
        padding: 10px;
    }
    .contact div{
        font-size: 15px;
    }
    .contact button{
        padding: 10px;
        font-size: 15px;
        border-radius: 200px;
    }
}